body{
    margin:0;
    display: border-box;
    overflow-x: hidden;
}
.carouselHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  #logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-right: 45px;
    cursor: pointer;
  }

  #topbar{
      display:flex;
      /* background-color: blue; */
      padding-left: 80px;
      border-bottom: 1px solid silver;
      box-shadow: 0px 4px 4px silver;
      position: fixed;
      width:100%;
      background:inherit;
      z-index:10;
      background-color: whitesmoke;
  }
  #topbar h3{
      margin-top:40px;
      margin-right: 15px;
      /* font-family: 'Lobster', cursive; */

  }

  #cart{
    margin-top:40px;
    font-size: 25px;
    margin-left: 150px;
    /* position: relative; */
    /* margin-right: 250px; */
  }
  #cartitem{
      width:20px;
      height:20px;
      margin-top:-38px;
      
    font-size: 12px;
    margin-left:170px;
      background-color:teal;
      border-radius: 50%;
      /* position: absolute; */
  }
  #cartitem h4{
      margin:0px;
      text-align: center;

      /* margin-top:30px; */
      margin-left:3px;
      padding-top:2px;
      font-size: 14px;
      color:white;
  }


  #profilepic{
      width:70px;
      height:70px;
      border-radius:50%;
      margin-left:5px;
      margin-top:10px;
      cursor: pointer;
  }



  .input-icons i { 
    position: absolute; 
    top:12px;
    left:16px;
} 
  
.input-icons { 
    width: 300px; 
    margin-bottom: 10px; 
    position: relative;
    margin-top:32px;
    margin-left:130px;
    /* border-radius: 20px; */
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
    background-color: lightgrey;
    border: 0px;
} 


#footer{
    background-color: black;
    width:100%;
    color:white;
    display:flex;
    margin-top: 100px;
    /* padding-left:200px; */
    /* padding-right: 200px; */
    /* display: flexbox; */
}
#footer div{
    margin-right: 180px;
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    
}
#footer div h2{
    font-size:20px;
}
#onlinestore{
    margin-left:250px;
}
#footer div a{
    font-weight: 500;
    display:flex;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}
#footer div h4{
    font-weight: 500;
    display:flex;
    margin-bottom: 10px;
    /* cursor: pointer; */
    font-family: 'Shadows Into Light', cursive;
}
#footer div h2{
    font-family: 'Roboto', sans-serif;
    cursor: auto;
}

#project{
    position:fixed;
    width:200px;
    left: 85%;
    top:80%;
    /* z-index: 10; */
}

#point{
    margin-left: -160px;
    margin-top: 110px;
    font-size: 40px;
    cursor: pointer;
}

#checkoutpage{
    width:800px;
    /* height:800px; */
    /* background-color: brown; */
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex; */
}
#itemswrapper{
    width:750px;
    height:125px;
    /* background-color: burlywood; */
    border-bottom: 1px solid grey;
      box-shadow: 0px 4px 4px grey;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
#itemswrapper h2{
    margin-top: 12px;
    font-size: 18px;
    margin-left: 12px;
}

#itemswrapper h3{
    margin-top: -8px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 12px;
    
}


#item{
    width:100%;
    height:125px;
    /* background-color: cadetblue; */
    display:flex;
    
}

#total{
    width:60%;
    height:200px;
    border-bottom: 1px solid grey;
      box-shadow: 0px 4px 4px grey;
      border-radius: 10px;
    /* background-color: chartreuse; */
}
#itemimage{
    height:100px;
    width:80px;
    margin-top: 14px;
    margin-left: 14px;
}
#itemimage img{
    height:100px;
    width:80px;
}


#main{
    display: flex;
    width:90%;
    /* background-color: chartreuse; */
    margin-left: auto;
    margin-right: auto;
    
}

#total button{
    background-color: teal;
    /* padding:16px; */
    width:80px;
    height:30px;
    border:0px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 30px;
}

#total h2,h3{
    margin-left: 20px;
}


#pageName{
    margin-top: 80px;
    margin-left:80px;
}

#saved{
    margin-left:80px;
    margin-top: -5px;
}


#quant{
    width:40px;
    margin-left: 15px;
    margin-bottom: 20px;
}
#project{
    position:fixed;
    width:200px;
    left: 85%;
    top:80%;
    /* z-index: 10; */
}