body{
    margin:0;
    display: border-box;
    overflow-x: hidden;
}
.carouselHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  #logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-right: 45px;
    cursor: pointer;
  }

  #topbar{
      display:flex;
      /* background-color: blue; */
      padding-left: 80px;
      border-bottom: 1px solid silver;
      box-shadow: 0px 4px 4px silver;
      position: fixed;
      width:100%;
      background:inherit;
      z-index:10;
      background-color: whitesmoke;
  }
  #topbar h3{
      margin-top:40px;
      margin-right: 15px;
      /* font-family: 'Lobster', cursive; */

  }

  #cart{
    margin-top:40px;
    font-size: 25px;
    margin-left: 150px;
    /* position: relative; */
    /* margin-right: 250px; */
  }
  #cartitem{
      width:20px;
      height:20px;
      margin-top:-38px;
      
    font-size: 12px;
    margin-left:170px;
      background-color:teal;
      border-radius: 50%;
      /* position: absolute; */
  }
  #cartitem h4{
      margin:0px;
      text-align: center;

      /* margin-top:30px; */
      margin-left:3px;
      padding-top:2px;
      font-size: 14px;
      color:white;
  }


  #profilepic{
      width:70px;
      height:70px;
      border-radius:50%;
      margin-left:5px;
      margin-top:10px;
      cursor: pointer;
  }



  .input-icons i { 
    position: absolute; 
    top:12px;
    left:16px;
} 
  
.input-icons { 
    width: 300px; 
    margin-bottom: 10px; 
    position: relative;
    margin-top:32px;
    margin-left:130px;
    /* border-radius: 20px; */
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
    background-color: lightgrey;
    border: 0px;
} 



#footer{
    background-color: black;
    width:100%;
    color:white;
    display:flex;
    margin-top: 100px;
    /* padding-left:200px; */
    /* padding-right: 200px; */
    /* display: flexbox; */
}
#footer div{
    margin-right: 180px;
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    
}
#footer div h2{
    font-size:20px;
}
#onlinestore{
    margin-left:250px;
}
#footer div a{
    font-weight: 500;
    display:flex;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}
#footer div h4{
    font-weight: 500;
    display:flex;
    margin-bottom: 10px;
    /* cursor: pointer; */
    font-family: 'Shadows Into Light', cursive;
}
#footer div h2{
    font-family: 'Roboto', sans-serif;
    cursor: auto;
}

#project{
    position:fixed;
    width:200px;
    left: 85%;
    top:80%;
    /* z-index: 10; */
}

#point{
    margin-left: -160px;
    margin-top: 110px;
    font-size: 40px;
    cursor: pointer;
}
/* #onlinestore{
    margin-left:250px;
}
 */




#main{
    display: flex;
}
#largerImage{
    height:500px;
    width:400px;
    /* background-color: blue; */
    margin-top:150px;
    margin-left: 80px;
}

#largerImage img{
    height:500px;
    width:100%;
}
#details{
    /* height:500px; */
    width:800px;
    /* background-color: violet; */
    margin-top:120px;
    margin-left: 80px;
    box-sizing: border-box;
}
#details h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    font-weight: 500;
    /* color:Blue */
}
#details h1{
    font-family: 'EB Garamond', serif;
    font-size: 34px;
}
#previews{
    height:150px;
    display: flex;
    /* width:800px; */
    /* background-color: turquoise; */
}
#previews img{
    height:140px;
    width:120px;
    box-shadow: 0px 4px 4px silver;
}
/* #previews img:active{
    border:2px solid red;

} */


#buy{
    margin-top: 25px;
    background-color: turquoise;
    border: none;
    border-radius:10px;
    padding:12px;
    width:160px;
    font-size: 20px;
    font-weight: 700;
}
#preview{
    display:flex;
}
.preview-image{
    margin-right: 10px;
}




#done{
    /* margin-left:45%; */
    /* transform: translateX(-50%); */
    font-size: 150px;
    color:lightseagreen;
}

#confirm{
    width:400px;
    height:400px;
    /* background-color: violet; */
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* #project{
    position:fixed;
    width:200px;
    left: 85%;
    top:80%;
    /* z-index: 10; */
 

.show {
    border:2px solid;
}
.hide {
    border: none;
}
#pictures {
    display:flex;
    width:120px;
    margin-right: 10px;
}
.About{
    font-family: 'Righteous', cursive;
}
#MRP{
    font-family: 'Satisfy', cursive;
    color:teal;
}


.active{
    border:2px solid red;
}